export TENANT_ID='azure-entra-id-tenant-id'
export SUBSCRIPTION_ID='azure-subscription-id'
export RESOURCE_GROUP='resource-group'
export AKS_NAME='aks-cluster-name'
export AKS_SERVER_URL='aks-cluster-server-url'
