export ACR_NAME="acr-name"
export GCP_PROFILE="gcp-profile"
export GCP_PROJECT_ID="gcp-project-id"
export GCP_REGION="gcp-region"
export GCP_GAR_REPO="gar-repo-name"

export OCI_IMAGES=(
    "image-path-without-registry:tag"
)
