export ACR_NAME="acr-name"
export AWS_ACCOUNT="aws-account-id"
export AWS_REGION="aws-region"
export AWS_PROFILE="aws-profile"
export AWS_WITH_SSO="false"

export OCI_IMAGES=(
    "image-path-without-registry:tag"
)
