ACR_REGISTRY=example.azurecr.io

REPOSITORY_VERSIONS_MAP=(
    frontend-repo/sample-webui:"2.3.0,3.0.0,3.1.0"
    backend-repo/sample-api:"2.3.0,3.0.0,3.1.0"
    backend-repo/sample-worker:"2.3.0,3.0.0,3.1.0"
)

ALWAYS_RETAIN_IMAGES=(
    frontend-repo/sample-webui:2.2.0-target01
    frontend-repo/sample-webui:2.2.1-target02
)

MAX_TAGS_TO_RETAIN=3

FLUSH_UNKNOWN=false
