## Arcadedb environment variables
JAVA_OPTS="-Darcadedb.server.rootPassword={{ store.arcadedb.root_password }}"
ARCADEDB_OPTS_MEMORY="-XX:+PerfDisableSharedMem -Xms512m -Xmx4096m"
ARCADEDB_ROOT_PASSWORD="{{ store.arcadedb.root_password }}"
