DOCLING_NUM_THREADS="4"
DOCLING_PERF_PAGE_BATCH_SIZE="4"
DOCLING_PERF_ELEMENTS_BATCH_SIZE="8"
DOCLING_DEBUG_PROFILE_PIPELINE_TIMINGS="false"
DOCLING_DO_FORMULA_ENRICHMENT="true"
DOCLING_SERVE_ARTIFACTS_PATH="/opt/app-root/src/models"
DOCLING_SERVE_ENABLE_UI="true"
DOCLING_SERVE_ENG_LOC_NUM_WORKERS="4"
DOCLING_SERVE_ENG_LOC_SHARE_MODELS="true"
TORCHDYNAMO_CAPTURE_SCALAR_OUTPUTS=1
TORCH_COMPILE_DISABLE=1
