## Nats system admin user credentials
NATS_ADMIN_USERNAME={{ nats.admin.username }}
NATS_ADMIN_PASSWORD={{ nats.admin.password }}

## Nats auth-callout user credentials
NATS_AUTH_USERNAME={{ nats.auth_callout.username }}
NATS_AUTH_PASSWORD={{ nats.auth_callout.password }}

## Nats auth-callout issuer credentials
NATS_AUTH_ISSUER_PUB={{ nats.auth_callout.issuer_pub }}
NATS_AUTH_ISSUER_SEED={{ nats.auth_callout.issuer_seed }}

## Nats auth-callout xkey credentials
NATS_AUTH_XKEY_PUB={{ nats.auth_callout.xkey_pub }}
NATS_AUTH_XKEY_SEED={{ nats.auth_callout.xkey_seed }}
