## PostgreSQL specific environment
TZ=UTC
PGTZ=UTC
POSTGRES_HOST={{ store.pgsql.host }}
POSTGRES_PORT={{ store.pgsql.port }}
POSTGRES_USER={{ store.pgsql.username }}
POSTGRES_PASSWORD={{ store.pgsql.password }}
