## SeaweedFS / S3 specific environment
ADMIN_S3_ACCESS_KEY={{ store.seaweedfs.admin.access_key }}
ADMIN_S3_SECRET_KEY={{ store.seaweedfs.admin.access_secret }}
READER_S3_ACCESS_KEY={{ store.seaweedfs.reader.access_key }}
READER_S3_SECRET_KEY={{ store.seaweedfs.reader.access_secret }}
