COMPOSE_PROJECT_NAME=sysoci
TZ=UTC

PGTZ=UTC
DB=postgres12
DB_PORT={{ store.pgsql.port }}
POSTGRES_USER={{ store.pgsql.username }}
POSTGRES_PWD={{ store.pgsql.password }}
SQL_PASSWORD={{ store.pgsql.password }}
POSTGRES_SEEDS={{ store.pgsql.host }}

BIND_ON_IP=0.0.0.0
DYNAMIC_CONFIG_FILE_PATH=config/dynamicconfig/development-sql.yaml
DEFAULT_NAMESPACE=ayuna
TEMPORAL_ADDRESS=ayuna-temporal:7233
TEMPORAL_CORS_ORIGINS='*'
